/*grid-container css*/
.grid-container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 50px auto auto 15vh;
}

/*header css*/
.header {
	box-sizing: border-box;
	background-color: blue;
	grid-column-start: 1;
	grid-column-end: span 2;
	height: auto;
	padding: 0%;
}

.header img {
	max-width: 100%;
	height: auto;
	width: 100%;
}

/*nav css*/
.nav {
	background-color: orange;
	grid-column-end: span 2;
	display: flex;
	align-items: center;
	padding: 10px 20px;
	position: relative;
}

/*burger nav css*/
.logo {
  	font-size: 24px;
 	font-weight: bold;
  	color: white;
}

.burger {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	margin-left: auto;
	gap: 5px;
}

.burger .line {
  	width: 25px;
  	height: 3px;
  	background-color: white;
  	border-radius: 2px;
}

.nav-links {
	display: none;
	position: absolute;
	top: 34px;
	left: 0px;
	right: 0px;
	flex-direction: column;
	background-color: green;
	padding: 10px;
	list-style: none;
	z-index: 100;
}

.nav-links.active {
  	display: flex;
}

.nav-links li {
  	margin-bottom: 10px;
}

.nav-links li:last-child {
  	margin-bottom: 0;
}

.nav-links li a {
  	text-decoration: none;
  	color: white;
  	font-weight: bold;
}

.nav-links a:hover {background-color: pink;} /*highlight*/	


/*content css*/
.content {
	box-sizing: border-box;
	background-color: yellow;
	position: relative;
	grid-column-end: span 2
}

/*home page css*/
h1 {
	text-align: center;
}

p {
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.activity-links {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center; /* center horizontally */
  	margin: 5px;
	gap: 15px;
}

.activity-links a {
 	display: block;
  	width: 22.5%; /* same size for all */
  	padding: 20px;
  	color: white;
  	text-decoration: none;
  	text-align: center;
  	box-sizing: border-box;
	border: 2px solid white;
}

/* Stack vertically on smaller screens */
@media (max-width: 600px) {
  .activity-links {
    	flex-direction: column;
    	align-items: center; /* center vertically stacked buttons */
  }

  .activity-links a {
    	width: 100%; /* keep same size */
  }
}

.box {
	padding:15px;
}

.activities {
	background-color: lightblue;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 20px;
}

/*activity pages css*/
.middle-row {
  	display: flex;
  	justify-content: space-between; /* optional: space between them */
  	align-items: stretch; /* align tops */
	min-height: 300px;
}

.key-info {
	flex: 1;
	background-color: lightblue;
}

.image-carousel{
	flex: 1;
	background-color: purple;
}

.bring {
	flex: 1;
	background-color: red;
}

.video {
	flex: 1;
	background-color: pink;
}

.key-info p {
	text-align: left;
}

@media (max-width: 768px) {
  .middle-row {
    	flex-direction: column;
    	align-items: center;
  }

  .key-info, .image-carousel, .bring, .video {
    	max-width: 100%;
    	width: 100%;
  }
}

.gear-list {
	background-color: lightblue;
	padding: 15px;
}

.lists {
	display: flex;
	justify-content: center;
}

.list {
	background-color: white;
	margin: 15px;
	display: inline-block;
	width: 22.5%;
	align-items: center;
}

/* Stack vertically on smaller screens */
@media (max-width: 768px) {
  .lists {
    	flex-direction: column;
    	align-items: center; /* center vertically stacked buttons */
  }

  .list {
    	width: 100%; /* keep same size */
  }
}

/*contact css*/
.contacts {
	display: flex;
	justify-content: center;
	gap: 15px;
}

.contact {
	background-color: lightblue;
	display: inline-block;
	width: 31%;
	align-items: center;
	margin: 15px;
}

/* Stack vertically on smaller screens */
@media (max-width: 768px) {
  .contacts {
    	flex-direction: column;
    	align-items: center; /* center vertically stacked buttons */
  }

  .contact {
    	width: 100%; /* keep same size */
  }
}

/*footer css*/
.footer {
	background-color: green;
	grid-column-end: span 2;
	min-height: 100px;
}
