/****IMPORTED GOOGLE FONTS****/
@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

/****COLOUR VARIABLES****/
:root{
	--navy: #033076; /*used for layout components*/
	--yellow: #FEC63D; /*used for some text components*/
	--red: 	#840705; /*used for hover effect on navigation buttons - desktop only*/
	--black: #000000; /*used for big bodies of text for contrast*/
}


/****GRID CONTAINER CSS****/
.grid-container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 50px auto auto 15vh;
}


/****HEADER CSS****/
.header {
	box-sizing: border-box;
	background-color: white;
	grid-column-start: 1;
	grid-column-end: span 2;
	height: auto;
	padding: 0%;
}

.header img {
	max-width: 100%;
	height: auto;
	width: 100%;
}

/****ICONS CSS****/
.fa {
	font-size: 16px;
	border-radius: 15px;
	padding: 5px;
	margin: -2px;
	text-align: center;
}

/****NAVIGATION CSS****/
.nav {
	background-color: var(--navy);
	grid-column-end: span 2;
	display: flex;
	align-items: center;
	padding: 10px 20px;
	position: relative;
	font-family: "TikTok Sans", sans-serif;
}

.nav img {
	height: 40px;
	padding-top: 10px;
}


/****BURGER NAVIGATION CSS****/
.logo {
	font-size: 24px;
  	font-weight: bold;
  	color: white;
}

.burger {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	margin-left: auto;
	gap: 5px;
}

.burger .line {
  	width: 25px;
 	height: 3px;
  	background-color: var(--yellow);
  	border-radius: 2px;
}

.nav-links {
	display: none;
	position: absolute;
	top: 34px;
	left: 0px;
	right: 0px;
	flex-direction: column;
	background-color: var(--navy);
	padding: 10px;
	list-style: none;
	z-index: 100;
}

.nav-links.active {
  	display: flex;
}

.nav-links li {
  	margin-bottom: 10px;
}

.nav-links li:last-child {
  	margin-bottom: 0;
}

.nav-links li a {
  	text-decoration: none;
  	color: var(--yellow);
  	font-weight: bold;
}

.nav a {
	color: var(--yellow);
}

.nav-links a:hover {background-color: var(--red) ;} /*highlight*/	


/****HEADER CSS****/
.content {
	box-sizing: border-box;
	background-color: white;
	position: relative;
	grid-column-end: span 2
}


/****HOME PAGE CSS****/
h1 {
	text-align: center;
	font-family: "TikTok Sans", sans-serif;
	color: var(--black);
}

p {
	text-align: left;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: "TikTok Sans", sans-serif;
	color: var(--black);
}

/****MEDIA QUERY FOR RESPONSIVE DESIGN****/
/* Reduces margin space for smaller devices */
@media (max-width: 600px) {
  p {
    	margin-left: 15px;
    	margin-right: 15px;
  }
}
	
.activities h1 {
	color: white;
}

.activity-links {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center; /* center horizontally */
  	margin: 5px;
	gap: 20px;
}

.activity-item {
	width: 22.5%;
	text-align: center;
	box-sizing: border-box;
}

.activity-item img {
	width: 100%;
	height: 300px;
	border-bottom: none;
	display: block;
	margin-bottom: 15px;
	border-radius: 10px;
}

.activity-links a {
  	display: block;
  	padding: 20px;
  	color: white;
  	text-decoration: none;
	border: 2px solid white;
	font-family: "TikTok Sans", sans-serif;
}

.activity-links a:hover {
	background-color: var(--navy);
	border: none;
}

/****MEDIA QUERY FOR RESPONSIVE DESIGN****/
/* Stack vertically on smaller screens */
@media (max-width: 768px) {
  	.activity-links {
    	flex-direction: column;
    	align-items: center; /* center vertically stacked buttons */
  	}

  	.activity-item {
    	width: 100%; /* keep same size */
  	}
	
	.activity-item img {
		height: 250px;
	}
	
}

.box {
	padding:15px;
}

.activities {
	background-color: var(--red);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 20px;
}


/****ACTIVITY PAGE CSS****/
.middle-row {
  	display: flex; 
  	align-items: stretch; /* align tops */
	min-height: 300px;
}

.key-info  {
	flex: 1;
	background-color: var(--navy);
}

.image-carousel{
	flex: 1;
	background-color: var(--red);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height 100%;
	box-sizing: border-box;
}

.carousel-wrapper {
	width: 75%;
	max-height: 75%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	padding: 20px;
	box-sizing: border-box;
}

.carousel-image {
	display: none;
	width: 100%;
	height: auto%;
	object-fit: contain;
	position: relative;
}

.carousel-image.active {
	display: block;
}

.carousel-btn {
  	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
	color: white;
	background-color: var(--red);
  	border: solid 2px white;
  	padding: 10px 15px;
  	font-size: 24px;
  	cursor: pointer;
  	user-select: none;
  	border-radius: 45px;
  	z-index: 10;
}

.carousel-btn:hover {
	background-color: var(--navy);
	border: none;
}

.carousel-btn.prev {
  	left: 50px;
}

.carousel-btn.next {
  	right: 50px;
}



.bring {
	flex: 1;
	background-color: white;
	box-sizing: border-box;
	padding: 20px;
}

.video {
	flex: 1;
	background-color: white;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	overflow: hidden;
	position: relative;
}

.video iframe {
	width: 100%;
	height: auto;
	max-height: 100%;
	aspect-ratio: 16/9;
	max-width: 100%;
}

.key-info p {
	text-align: left;
	color: white;
}

.key-info h1 {
	color: white;
}

/****MEDIA QUERY FOR RESPONSIVE DESIGN****/
/* Stack vertically on smaller screens */
@media (max-width: 768px) {
  	.middle-row {
    	flex-direction: column;
    	align-items: center;
  }

  	.key-info, .image-carousel, .bring, .video {
    	max-width: 100%;
    	width: 100%;
  }
	
	.carousel-wrapper {
		padding: 25px;
		width: 100%;
		max-height: 100%
	}
	
	.carousel-btn.prev {
  		left: 15px;
	}

	.carousel-btn.next {
  		right: 15px;
	}
	
}

.box ol {
	font-family: "TikTok Sans", sans-serif;
	margin-left: 100px;
	margin-right: 100px;
	color: var(--black);
}

/****MEDIA QUERY FOR RESPONSIVE DESIGN****/
/* Reduces margin space for smaller devices */
@media (max-width: 600px) {
  .box ol {
		margin-left: 15px;
		margin-right: 15px;
  }
}

.box h2 {
	font-family: "TikTok Sans", sans-serif;
	margin-left: 80px;
	color: var(--black);
}

/****MEDIA QUERY FOR RESPONSIVE DESIGN****/
/* Reduces margin space for smaller devices */
@media (max-width: 600px) {
  .box h2 {
    	margin-left: 15px;
  }
}

.gear-list {
	background-color: var(--red);
	padding: 15px;
}

.gear-list h1 {
	color: white;
}

.gear-list h2 {
	text-align: center;
	color: var(--black);
}

.lists {
	display: flex;
	justify-content: center;
}

.list {
	background-color: white;
	margin: 15px;
	display: inline-block;
	width: 22.5%;
	align-items: center;
	font-family: "TikTok Sans", sans-serif;
	color: var(--black);
}

.list p {
	margin-left: 20px;
	text-align: left;
	color: var(--black);
}

/****MEDIA QUERY FOR RESPONSIVE DESIGN****/
/* Stack vertically on smaller screens */
@media (max-width: 768px) {
  .lists {
    	flex-direction: column;
    	align-items: center; /* center vertically stacked buttons */
  }

  .list {
    	width: 100%; /* keep same size */
  }
}

/****CONTACT PAGE CSS****/
.contacts {
	display: flex;
	justify-content: center;
	gap: 15px;
}

.contact {
	background-color: var(--navy);
	display: flex;
	width: 31%;
	align-items: center;
	border-radius: 30px;
	flex-direction: column;
	justify-content: center;
	margin: 30px;
}

.contact h2 {
	color: white;
	text-align: center;
	margin: auto;
	padding-top: 50px;
}

.contact p {
	color: white;
	text-align: center;
	margin: auto;
	padding-bottom: 70px;
}

/****MEDIA QUERY FOR RESPONSIVE DESIGN****/
/* Stack vertically on smaller screens */
@media (max-width: 768px) {
  .contacts {
    flex-direction: column;
    align-items: center; /* center vertically stacked buttons */
  }

  .contact {
    width: 100%; /* keep same size */
  }
}

.contact span {
	font-size: 60px;
	text-align: center;
	color: var(--navy);
	background-color: white;
	padding: 15px;
	border-radius: 50px;
	margin-top: 70px;
}



/****FOOTER CSS****/
.footer {
	background-color: var(--navy);
	grid-column-end: span 2;
	min-height: 100px;
	text-align: center;
	color: var(--yellow);
	font-family: "TikTok Sans", sans-serif;
	display: flex;
  	justify-content: center;   /* center horizontally */
  	align-items: flex-end;
}

h5 {
	font-size: clamp(0.625rem, 1.5vw, 1rem)	
}


/****BACK TO TOP BUTTON CSS****/
#myBtn {
  	display: none; /* Hidden by default */
  	position: fixed; /* Fixed/sticky position */
  	bottom: 20px; /* Place the button at the bottom of the page */
  	right: 30px; /* Place the button 30px from the right */
  	z-index: 99; /* Make sure it does not overlap */
  	border: none; /* Remove borders */
  	outline: none; /* Remove outline */
  	background-color: black; /* Set a background color */
  	color: white; /* Text color */
  	cursor: pointer; /* Add a mouse pointer on hover */
  	padding: 15px; /* Some padding */
  	border-radius: 10px; /* Rounded corners */
  	font-size: 18px; /* Increase font size */
  	font-family: 'Rubik', sans-serif;
	opacity: 0.7;
}

#myBtn:hover {
  	background-color: ; 
	opacity: 100%;
}

